<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
        photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/800px-Placeholder_view_vector.svg.png"
        cardTitle="HOMEM DE FERRO ANTIGO"
        cardDescription="Marvel Studios anuncia velho filme do Homem de Ferro.">
    </app-big-card>
    <!-- testando dinamismo -->
    <app-big-card
        photoCover="http://i.ytimg.com/vi/QUfaHAR-Nho/maxresdefault.jpg"
        cardTitle="NOVO HOMEM DE FERRO EM 3D"
        cardDescription="Marvel Studios anuncia novo filme do Homem de Ferro.">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
        photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/800px-Placeholder_view_vector.svg.png"
        cardTitle="NOVA SÉRIE ANUNCIADA">
    </app-small-card>
    <app-small-card
        photoCover="http://i.ytimg.com/vi/QUfaHAR-Nho/maxresdefault.jpg"
        cardTitle="MULHER DE FERRO">
    </app-small-card>
    <app-small-card
        photoCover="https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/blackpantherchadwickbosemancaptainamericacivilwa23a4972e-copia.jpeg.webp?w=1450&h=816"
        cardTitle="NOVO PLACEHOLDER ANUNCIADO">
    </app-small-card>
  </div>
</div>
